<h1><%= @pet.name %></h1>

<h2>Image:</h2><p><%= @pet.image %></p>

<h2>Age:</h2><p><%= @pet.age %></p>

<h2>Sex:</h2><p><%= @pet.sex %></p>

<h2>Description:</h2><p><%= @pet.description %></p>

<h2>Status:</h2><p><%= @pet.status %></p><br>

<%= link_to "Update Pet", "/pet/#{@pet.id}/edit" %>
